{{ partial "header.html" . }}

<section id=content>
  <h1> {{ if .Params.heading }} {{ .Params.title }} {{ else }} {{"" }} {{ end }}</h1> 

  {{ if .Params.date }}
    <div id=sub-header>
      {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
    </div>
  {{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>

</section>

<!-- {{ if .Params.commentson }}
{{ partial "disqus.html" . }}
{{ end }} --> 

{{ partial "footer.html" . }}


